* {
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --main-color: #011627;
  --secondary-color: #081216;
  --text-color: #e6e4e4;
}

h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
}
h2 {
  font-size: 2.4rem;
}
h1,
h2 {
  font-weight: 700;
}
p,
form {
  font-size: 1.2rem;
}

body {
  font-weight: 700;
  /* background-color: var(--main-color); */
  /* need a gradient background */
  background-image: radial-gradient(
    /* rgba(85, 88, 218, 1) 0%, */ /* rgba(95, 209, 249, 1) 100% */ circle
      farthest-corner at 12.3% 19.3%,
    #566ade 0%,
    #5ecef8 100%
  );
  opacity: 0.85;
}
.jumbotron {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;
}
.btn:hover {
  color: white;
  opacity: 0.9;
}
